@import "../../../assets/palette/_colors";

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 18%;
  background: $white200;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.sidenav .mat-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  flex-shrink: 0;
  margin-top: 10px;
  cursor: pointer;
}
sidenav .nav-link{
}
.logo{
  margin-top: 32px;
  margin-left: 32px;
  font-weight: bolder;
  font-size: 23px;
}
.logo-text{
  margin-left: 10px;
}
.mat-nav-list {
  margin-top: 20px;
}
.btn{
  background-color: $primary300;
  color: $white200;
  display: flex;
  height: 43px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--blue-500, #3A62F2);
  margin-left:65%;
}
.toolbarIcons .toolbar-icons{
  margin-left: 20px;
  cursor: pointer;
}
.profile-name{
  margin-left: 20px;
}

.profile-img{
  height: 100%;
  width: 100%;
}
.profile-img-container{
  background-color: gray;
  border-radius: 50%;
  border: 1px solid black;
  margin-left: 20px;
  padding: 3px 3px 2px 4px;
  height: 30px;
  width: 30px;
}
.dropdown-btn{
  margin-left: 6px;
  cursor: pointer;
}
